@page "{id:int?}"
@model UpdateModel
@{
    ViewData["Title"] = "Update";
}

<form asp-page="Update" method="post">
    <div asp-validation-summary="ModelOnly"></div>
    <div style="padding-left: 40%;" class="input-group">
        <div class="form-group mb-2">
            <label asp-for="Cnt.FirstName" class="control-label"></label>
            <input style="text-align:center" class="form-control" asp-for="Cnt.FirstName" placeholder="First Name">
            <span asp-validation-for=Cnt.FirstName class="invalid-feedback"></span>
            <label></label>
            <input style="text-align:center" class="form-control" asp-for="Cnt.LastName" placeholder="Last Name">
            <span asp-validation-for="Cnt.LastName" class="invalid-feedback"></span>
            <label></label>
            <input style="text-align:center" class="form-control" asp-for="Cnt.PhoneNumber" placeholder="Phone Number">
            <span asp-validation-for="Cnt.PhoneNumber" class="invalid-feedback"></span>
            <label></label>
            <input style="text-align:center" class="form-control" asp-for="Cnt.Birthday" placeholder="Date of Birth">
            <span asp-validation-for="Cnt.Birthday" class="invalid-feedback"></span>
            <label></label>
        </div>
    </div>
    <button style="width: 200px; margin: 0 40%;" class="btn btn-primary" type="submit">Update Person</button>
</form>
<label></label>
<div>
    <a style="width: 200px; margin: 0 40%;" asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


